body{
  margin: 0%;}

header{
  /* height: 90px; */
  /* display: inline-block; */
  background-color: f6dcbf;
  height: 80px;
}
header nav{

  width: 40%;
  float: right;
    margin-top: 26px;

}
header li{
    display:inline-block;
    /* float: right; */
    margin-right: 10px;
}
header h1{
  color: #d44000;
  float: left;
  margin-left: 40px;
  font-size: 50px;
}
header li a{
  font-size:40px;
  text-decoration: none;
  color: #e1701a;
}